name:Build Success

on:
  pull:request:
    branches:
      - master
jobs:
  build:
    name:Build the project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: use Node.js
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
      
      
      - name: Build the project
        run: npm run build
